$first: #FF79DA;
$second : #9356DC;
$third: #99E2D0;
$arrow_color: rgb(95, 95, 95);
$background_color_light_grey: #f6f6f6;
$shadow_item_color:#E9E9E9;
$shadow_button_color:#bebebedc;
$price_color:rgb(58, 58, 58);
$footer_color:#353535;

/*-- règles générale --*/
body, footer {
	font-family : Roboto;
}

body {
	margin: 0 auto;
}

.logo, .hd {
	font-family: Shrikhand;
}

a {
	text-decoration: inherit;
	color : black;
}

.logo {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*----animation générale----*/
.hoover {
    transform: scale(1);
    transition: transform 100ms;
    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
}

/*------------------------------------------------------*/
/*------------------------GENERAL-----------------------*/
/*------------------------------------------------------*/

/*---------------------HEADER----------------------*/
header {
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
	i {
		position: absolute;
		left: 20px;
		color: $arrow_color;
	}
	.logo {
		font-size: 25px;
	}
}

/*----------------------MAIN-----------------------*/
main {
	.section1 {
		display: flex;
    	flex-direction: column;
    	background-color: $background_color_light_grey;
		img {
			width: 100%;
			height: 240px;
			object-fit: cover;
			margin-bottom: 10px;
		}
		/*-- titre --*/
		.container_title {
			position: relative;
			.item_title {
				background-color: $background_color_light_grey;
				position: absolute;
				bottom: -15px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding-left: 20px;
				padding-right: 20px;
				border-top-left-radius: 35px;
				border-top-right-radius: 35px;
				.heart {
					i {
						font-size: 20px;
						-webkit-text-stroke: 0.5px black;
						color: $background_color_light_grey;
						cursor: pointer;
						&:hover {
							color: $second;
							transition: linear 400ms;
						}
					}
					.fill-heart {
						display: none;
					}
					.fill-heart:checked + label > i {
						color: $second;
					}
				}
			}
		}
		/*-- cartes --*/
		.container {
			display: flex;
			flex-direction: column;
			row-gap: 12px;
			padding-left: 15px;
			padding-right: 10px;
			margin-bottom: 25px;
			h3 {
				font-weight: 100;
				font-size: 17px;
				margin-left: 3px;
				margin-bottom: 8px;
				position: relative;
				z-index: 1;
				&:before {
					content: "";
					position:absolute;
					border-bottom: 3px solid $third;
					bottom: -8px;
					left: 0;
					width: 42px;
				}
			}
			@keyframes slidetop {
				0% {
					opacity: 0;
					transform: translateY(20%);
				}
				100% {
					opacity: 1;
					transform: translateY(0%);
				}
			}
			.item1 {
				animation: 1s ease-out 0s slidetop;
			}
			.item2 {
				animation: 1.4s ease-out 0s slidetop;
			}
			.item3 {
				animation: 1.8s ease-out 0s slidetop;
			}
			.item {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				background-color: white;
				border-radius: 15px;
				padding-left: 10px;
				padding-right: 10px;
				box-shadow: 0 10px 10px $shadow_item_color;
				position: relative;
				.check {
					display: none;
				}
				label {
					cursor: pointer;
					height: 64px;
					width: 100%;
					display: flex;
					flex-direction: row;
					align-items: center;
					.text {
						width: 81%;
						.name {
							font-size: 15px;
							font-weight: bold;
							margin-bottom: 5px;
						}
						.description {
							font-size: 12px;
							margin-top: 0;
							z-index: 1;
						}
					}
					.pricing {
						height: 50%;
						width: 19%;
						align-self: flex-end;
						display: flex;
						flex-direction: row;
						align-items: flex-end;
						background-color: white;
						.price {
							font-size: 15px;
							font-weight: bold;
							color: $price_color;
							margin-bottom: 10px;
							padding-left: 8px;
						}
					}
					.price_fill {
						background-color: $third;
						width: 0;
						height: 64px;
						right: 0;
						bottom: 0;
						border-radius: 0 15px 15px 0;
						position: absolute;
						transition: linear 200ms;
						display: flex;
						align-items: center;
						justify-content: center;
						i {
							color: white;
							opacity: 0;
						}
					}
				}
				@keyframes slideleftandrotate {
					from {
						transform: translateX(30%) rotate(0deg);
					}
					to {
						transform: translateX(0) rotate(360deg);
					}
				}
				@keyframes slideleft {
					from {
						transform: translateX(10px);
					}
					to {
						transform: translateX(-62px);
					}
				}
				&:hover {
					.check:not(:checked) + label {
						.price_fill {
							i {
								opacity: 1;
								animation: 0.4s ease-in-out 0s slideleftandrotate;
							}
						}
						.pricing {
							animation: 0.3s ease-in-out 0s 1 normal forwards slideleft;
						}
					}
				}
				.check:checked + label {
					.pricing {
						transform: translateX(-62px);
					}
					.price_fill {
						i {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	.command {
		margin-bottom: 70px;
		margin-top: 20px;
		display: flex;
		justify-content: center;
		button {
			background: repeating-linear-gradient($first ,$second);
			color:white;
			border: none;
			border-radius: 50px;
			padding-left: 50px;
			padding-right: 50px;
			font-size: 15px;
			&:hover {
				background: repeating-linear-gradient(adjust-color($first, $lightness: 2%) ,adjust-color($second, $lightness: 2%));
				box-shadow: 0 0 15px $shadow_button_color;
			}
		}
	}
}

/*--------------------FOOTER-----------------------*/
footer {
    .container {
        background-color: $footer_color;
        color: white;
        display :flex;
        flex-direction: column;
        padding-left: 25px;
        padding-bottom: 30px;
		font-size: 12px;
        .logo {
            margin-top: 10px;
   			font-size: 15px;
        }
        a {
            text-decoration: inherit;
            color: white;
            display :flex;
            flex-direction: row;
            align-items: center;
            // justify-content: flex-start;
            column-gap: 10px;
            margin-top: 6px;
            .size {
                margin-left: 3px;
            }
            p {
                margin: 0;
            }
        }
    }
}

/*------------------------------------------------------*/
/*-------------------------PHONE------------------------*/
/*------------------------------------------------------*/
@media screen and (max-width: 767px) {
	body {
		width: 320px;
	}
	main {
		/*-- titre --*/
		.container_title {
			.item_title {
				width: 87.5%;
			}
		}
		/*-- cartes --*/
		.container {
			.item {
				label {
					.pricing {
						justify-content: space-between;
						.etc {
							width: 0;
							height: 32px;
							right: 0;
							bottom: 0;
							z-index: 2;
							p {
								opacity: 0;
								margin: 0;
								margin-top: 3px;
							}
						}
					}
				}
				&:hover {
					.check:not(:checked) + label {
						.price_fill {
							width: 20%;
						}
						.pricing {
							.etc {
								p {
									opacity: 1;
								}
							}
						}
					}
				}
				.check:checked + label {
					.price_fill {
						width: 20%;
					}
					.pricing {
						.etc {
							p {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}

	/*--------------------FOOTER-----------------------*/
	footer {
		.container {
			a {
				justify-content: flex-start;
			}
		}
	}
}

/*------------------------------------------------------*/
/*------------------------TABLET------------------------*/
/*------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 992px) {
	body {
		width: 768px;
	}

	/*----------------------MAIN-----------------------*/
	main {
		.section1 {
			/*-- titre --*/
			.container_title {
				.item_title {
					width: 95%;
				}
			}
			/*-- cartes --*/
			.container {
				.item {
					.pricing {
						justify-content: flex-end;
						.etc {
							p {
								opacity: 0;
							}
						}
					}
					&:hover {
						.check:not(:checked) + label > .price_fill {
							width: 8%;
						}
					}
					.check:checked + label > .price_fill {
						width: 8%;
					}
				}
			}
		}
	}

	/*--------------------FOOTER-----------------------*/
	footer {
		.container {
			justify-content: center;
			align-items: center;
			a {
				justify-content: center;
			}
		}
	}
}

/*------------------------------------------------------*/
/*------------------------DESKTOP-----------------------*/
/*------------------------------------------------------*/
@media screen and (min-width: 992px) {
	body {
		width: 992px;
	}

	/*----------------------MAIN-----------------------*/
	main {
		.section1 {
			/*-- titre --*/
			.container_title {
				.item_title {
					width: 96%;
				}
			}
			/*-- cartes --*/
			.container {
				.item {
					.pricing {
						justify-content: flex-end;
						.etc {
							p {
								opacity: 0;
							}
						}
					}
					&:hover {
						.check:not(:checked) + label > .price_fill {
							width: 6%;
						}
					}
					.check:checked + label > .price_fill {
						width: 6%;
					}
				}
			}
		}
	}

	/*--------------------FOOTER-----------------------*/
	footer {
		.container {
			justify-content: center;
			align-items: center;
			a {
				justify-content: center;
			}
		}
	}
}
